@font-face {
    font-family: "Verdana";
    src: url("../font/Verdana-BoldItalic.eot");
    src: local("Verdana Bold Italic"), local("Verdana-BoldItalic"),
    url("../font/Verdana-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("../font/Verdana-BoldItalic.woff") format("woff"),
    url("../font/Verdana-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Verdana";
    src: url("../font/Verdana.eot");
    src: local("Verdana"),
    url("../font/Verdana.eot?#iefix") format("embedded-opentype"),
    url("../font/Verdana.woff") format("woff"),
    url("../font/Verdana.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Verdana";
    src: url("../font/Verdana-Bold.eot");
    src: local("../font/Verdana Bold"), local("Verdana-Bold"),
    url("../font/Verdana-Bold.eot?#iefix") format("embedded-opentype"),
    url("../font/Verdana-Bold.woff") format("woff"),
    url("../font/Verdana-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Verdana";
    src: url("../font/Verdana-Italic.eot");
    src: local("../font/Verdana Italic"), local("../font/Verdana-Italic"),
    url("../font/Verdana-Italic.eot?#iefix") format("embedded-opentype"),
    url("../font/Verdana-Italic.woff") format("woff"),
    url("../font/Verdana-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

.wrapper {
    background-image: url("../images/rana-sawalha-364253-unsplash.png");
    background-size: cover;
    height: 100%;
    font-family: Verdana, sans-serif;
}

.header {
    display: inline-block;
    width: 100vw;
    height: 56px;
    vertical-align: top;
    background-color: rgba(0, 0, 0, .41);
}

.logo {
    display: inline-block;
    vertical-align: top;
    width: 105px;
    height: 15px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 152px;
    margin-top: 15px;
    color: #fff;
}

.logo:hover {
    color: #3cb878;
}

.sprites {
    display: inline-block;
    vertical-align: top;
    margin-left: 735px;
}

.bg-ic_calendar {
    display: inline-block;
    margin: 20px 0;
    width: 20px;
    height: 20px;
    background: url('../images/css_sprites.png') -106px -10px;
}

.bg-ic_calendar:hover {
    background: url('../images/css_sprites.png') -106px -49px;
}

.bg-ic_forum {
    width: 28px; height: 20px;
    background: url('../images/css_sprites.png') -10px -10px;
    display: inline-block;
    margin: 20px 28px;
}

.bg-ic_forum:hover {
    background: url('../images/css_sprites.png') -58px -10px;
}

.bg-ic_journey {
    width: 20px; height: 20px;
    background: url('../images/css_sprites.png') -10px -50px;
    display: inline-block;
    margin: 20px 0;
}

.bg-ic_journey:hover {
    background: url('../images/css_sprites.png') -50px -50px;
}

.authorization{
    display: inline-block;
    margin-top: 20px;
    margin-left: 50px;
    color: #fff;
}

.link {
    text-decoration: none;
    color: #3cb878;
}

.link:hover {
    text-decoration: underline;
}

.container {
    width: 444px;
    height: 584px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
    margin: 56px auto 0;
    vertical-align: center;
    background-color: #fff;
    border-radius: 1.5%;
}

.container-authorization {
    display: inline-block;
    margin-top: 29px;
    margin-left: 60px;
}

.authorization-sign {
    color: #434343;
}

.green-box {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: #3cb878;
    position: relative;
    top: 4px;
}

.authorization-log {
    margin-left: 205px;
}

.facebook {
    text-decoration: none;
    color: #fff;
    flex-shrink: 1;
}

.link-facebook-google {
    display: flex;
    margin: 15px auto;
    width: 322px;
    justify-content: space-between;
}

.logo-facebook {
    width: 157px;
    height: 46px;
    background-color: #305db8;
    border-radius: 3px;
    justify-content: space-around;
    display: flex;
    align-items: center;
}

.logo-facebook:hover {
    background-color: #264b96;
}

.google {
    text-decoration: none;
    color: #fff;
    flex-shrink: 1;
}

.logo-google {
    width: 157px;
    height: 46px;
    background-color: #df4a32;
    border-radius: 3px;
    align-items: center;
    justify-content: space-around;
    display: flex;
}

.logo-google:hover {
    background-color: #c3412c;
}

.for-line {
    height: 0;
    width: 322px;
    margin-left: 62px;
    margin-top: 33px;
    border-bottom: 1px solid #848484;
}
.line {

    text-align: center;
    background: white;
    width: 40px;
    margin: 0 auto;
    position: relative;
    top: -9px;
    color: #848484;
}

.sign-form {
    display: inline-block;
    margin-left: 62px;
    margin-top: 9px;
}

.sign-form-input {
    width: 322px;
    height: 46px;
    border: 1px solid #bebebe;
    border-radius: 3px;
    margin-top: 9px;
    padding-left: 18px;
    color: #bebebe;
    font-size: 14px;
    box-sizing: border-box;
}

.sign-form-input:focus {
    box-shadow: 0 3px 8px rgba(0, 0, 0, .21);
    border-color: rgba(190, 190, 190, .41);
}

.conformation {
    display: inline-block;
    margin-top: 22px;
}

#checkbox {
    display: none;
}

.conformation-checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #bebebe;
    border-radius: 5px;
    vertical-align: bottom;
    cursor: pointer;
    position: relative;
}

#checkbox:checked+.conformation-checkbox:before {
    content: url(../images/checkbox.png);
    position: absolute;
    color: green;
    left: 3px;
    top: 2px;
    width: 14px;
    height: 11px;
    background: #fff;
    border-radius: 3px;
    text-align: center;
    outline: none;
}

.conformation-link {
    text-decoration: none;
    color: #3cb878;
}

.sign-form-button {
    width: 322px;
    height: 46px;
    margin-top: 28px;
    margin-bottom: 32px;
    background-color: #3cb878;
    font-size: 16px;
    color: #fff;
    border: 0;
    border-radius: 3px;
}

.sign-form-button:hover {
    background-color: #329a65;
}